<!DOCTYPE html>
<html>

<head>
  {{! Document Settings }}
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  {{! Page Meta }}
  <title>{{meta_title}}</title>
  <meta name="description" content="{{meta_description}}" />
  <meta name="HandheldFriendly" content="True" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="shortcut icon" href="{{@blog.url}}/assets/favicon.ico">
  <link rel="dns-prefetch" href="//fonts.gstatic.com" />
  <link rel="dns-prefetch" href="//cdnjs.cloudflare.com" />
  <link rel="dns-prefetch" href="//opensource.keycdn.com" />
  <link rel="preconnect" href="//cdnjs.cloudflare.com" crossorigin />
  <link rel="preconnect" href="//fonts.gstatic.com" crossorigin />
  <link rel="preconnect" href="//opensource.keycdn.com" crossorigin />
  {{! Styles'n'Scripts }}
  <link rel="stylesheet" type="text/css" href="{{asset "css/screen.css"}}" />
  <link rel="stylesheet" type="text/css" href="{{asset "css/prism.css"}}" />
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Roboto:400,500,400italic,500italic|Fjalla+One" />
  {{! Ghost outputs important style and meta data with this tag }}
  {{ghost_head}}
</head>

<body class="{{body_class}} nav-closed">
  {{navigation}}
  <div class="site-wrapper">
    {{! Everything else gets inserted here }}
    {{{body}}}
      <footer class="site-footer clearfix">
        <section class="copyright">
          <i class="fa fa-creative-commons fa-2x"></i> <span xmlns:dct="http://purl.org/dc/terms/" property="dct:title">itchy.nl</span> / relaxz.net by <a xmlns:cc="//creativecommons.org/ns#" href="//itchy.nl" property="cc:attributionName" rel="cc:attributionURL">Yee Chie Tu</a> is licensed under a <a rel="license" href="{{@blog.url}}/license">CC BY 4.0 License</a>.
        </section>
        <section class="poweredby">
          Proudly published with <a href="//ghost.org" title="Ghost" target="_blank">Ghost</a>
          and Powered by <a href="//www.vultr.com/?ref=6878145" title="Vultr" target="_blank">Vultr <img src="{{@blog.url}}/content/images/2016/03/logo_onwhite.png" alt="Vultr" width="20" height="21" /></a>
        </section>
      </footer>
  </div>
  <link rel="stylesheet" type="text/css" href="//opensource.keycdn.com/fontawesome/4.5.0/font-awesome.min.css" />
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.2.3/jquery.min.js"></script>
  {{! Ghost outputs important scripts and data with this tag }}
  {{ghost_foot}}
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/fitvids/1.1.0/jquery.fitvids.js"></script>
    <script type="text/javascript" src="{{asset "js/prism.js"}}"></script>
    {{! The main JavaScript file index.js for Casper }}
    <script type="text/javascript" src="{{asset "js/index.js"}}"></script>
</body>

</html>
